@import "tailwindcss";

@theme {
  --color-primary: #565B63;
  --color-bg-primary: #f7f8f9;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
